[submodule "vendor/github.com/GaryBoone/GoStats"]
	path = vendor/github.com/GaryBoone/GoStats
	url = https://github.com/GaryBoone/GoStats
[submodule "vendor/github.com/eclipse/paho.mqtt.golang"]
	path = vendor/github.com/eclipse/paho.mqtt.golang
	url = https://github.com/eclipse/paho.mqtt.golang
